body{
  background-image:url(background.jpg);
  background-size:cover;
  width:1000px;
  color:white;
  text-align:center;
  margin:0 auto;
}

body p, a{
  font-size:24px;
}

header{
  width:100%;
  padding:5px 0px;
  margin-top:30px;
}

header p{
  color:rgb(50, 255, 129);
  font-size:40px;
  font-weight:bold;
}

.container{
  background-color:rgba(0, 0, 0, 0.4);
  margin-top:50px;
  margin-bottom:50px;
  padding:0px 30px
}

.green{
  color:yellowgreen;
}

.intro{
  margin-bottom:25px;
}

.intro p{
  font-size: 28px;
}

.intro h1{
  border-bottom:1px dashed white;
  color:lightgreen;
  font-size:34px;
}

.SNS {
  display:inline-block;
  padding-top: 30px;
  padding-bottom:30px;
}

.SNS img{
  width:200px;
  height:200px;
  border-radius: 100px;
}

.youtube{
  width: 25%;
  float:left;
}

.youtube a{
  display:inline;
  color:rgb(150, 231, 211);
}

.youtube a:hover{
  background-color:rgba(0, 0, 0, 0.7);
}

.twitch{
  width: 25%;
  float:left;
}

.twitch a{
  display:inline;
  color:rgb(187, 173, 236);
}

.twitch a:hover{
  background-color:rgba(0, 0, 0, 0.5);
}

.twitter{
  width: 25%;
  float:left;
}

.twitter a{
  display:inline;
  color:rgb(165, 207, 241);
}

.twitter a:hover{
  background-color:rgba(0, 0, 0, 0.5);
}

.letter{
  margin-top:25px;
}

.letter p{
  font-size: 24px;
}

#video{
  background-color:dimgrey
}

footer img{
  width:300px;
  margin-right:50px;
  border-radius:10px
}

footer h3{
  border-bottom:1px solid white;
  font-size:22px;
  color:rgb(140, 210, 140)
}
